exportPattern("^[[:alpha:]]+")
  importFrom("graphics", "layout", "abline", "lines", "par", "plot", "text")
  importFrom("methods", "new", "slot")
  importFrom("stats", "density", "dnorm", "integrate", "lm", "mad", "median", "nlminb", "optim", "pchisq", "pnorm", "prcomp", "predict", "pt", "qchisq", "qnorm", "qt", "qqline", "qqnorm", 
             "rnorm", "runif", "sd", "var", "weighted.mean", "uniroot")
  importFrom("utils", "read.csv")
  importFrom("robustbase", "lmrob")
  importFrom("ggplot2", "ggplot", "aes", "geom_point", "geom_hline", "geom_vline", "geom_abline", "scale_colour_discrete", "xlab", "ylab", "theme", "element_text", "rel", "element_rect", "element_line", "scale_colour_manual", "scale_linetype_manual", "geom_errorbar", "geom_errorbarh", "geom_text", "margin", "geom_linerange", "theme_classic")
  importFrom("plotly", "plot_ly", "add_trace", "%>%", "plotly_build")
  importFrom("knitr", "knit_params")
  importFrom("rmarkdown", "knitr_options")
  importFrom("Matrix", "rowSums", "sparseMatrix", "t")
  importFrom("iterpc", "getall", "iterpc")
  importFrom("quantreg", "rq")
  importFrom("rjson", "fromJSON")
  importFrom("glmnet", "glmnet")
  useDynLib(MendelianRandomization)
  importFrom("Rcpp", "sourceCpp")
  import(numDeriv)
  export(phenoscanner)
  export(pheno_input)
  export(mr_allmethods)
  export(mr_input)
  export(mr_mvinput)
  export(mr_egger)
  export(mr_ivw)
  export(mr_mbe)
  export(mr_median)
  export(mr_mvivw)
  export(mr_mvivwme)
  export(mr_mvegger)
  export(mr_plot)
  export(mr_forest)
  export(mr_loo)
  export(mr_funnel)
  export(mr_maxlik)
  export(mr_hetpen)
  export(mr_conmix)
  export(mr_mvmedian)
  export(mr_mvlasso)
  export(mr_lasso)
  export(mr_divw)
  export(mr_cML)
  export(mr_pivw)
  export(mr_mvcML)
  export(mr_pcgmm)
  export(mr_mvpcgmm)
  export(mr_mvgmm)
  export(mr_clr)

