exportPattern("^[[:alpha:]]+")
  importFrom("graphics", "layout", "abline", "lines", "par", "plot", "text")
  importFrom("methods", "new", "slot")
  importFrom("stats", "dnorm", "lm", "mad", "median", "density", "optim", "pchisq", "pnorm", "pt", "qchisq", "qnorm", "qt",
             "rnorm", "sd", "weighted.mean")
  importFrom("utils", "read.csv")
  importFrom("robustbase", "lmrob")
  importFrom("ggplot2", "ggplot", "aes", "geom_point", "geom_hline", "geom_vline", "geom_abline", "scale_colour_discrete", "xlab", "ylab", "theme", "element_text", "rel", "element_rect", "element_line", "scale_colour_manual", "scale_linetype_manual", "geom_errorbar", "geom_errorbarh", "geom_text", "margin")
  importFrom("plotly", "plot_ly", "add_trace", "%>%", "plotly_build")
  importFrom("knitr", "knit_params")
  importFrom("rmarkdown", "knitr_options")
  importFrom("Matrix", "rowSums", "sparseMatrix", "t")
  importFrom("iterpc", "getall", "iterpc")
  export(extract.pheno.csv)
  export(mr_allmethods)
  export(mr_input)
  export(mr_mvinput)
  export(mr_egger)
  export(mr_ivw)
  export(mr_mbe)
  export(mr_median)
  export(mr_mvivw)
  export(mr_plot)
  export(mr_maxlik)
  export(mr_hetpen)
