exportPattern("^[[:alpha:]]+")
  importFrom("graphics", "layout")
  importFrom("methods", "new", "slot")
  importFrom("stats", "lm", "pchisq", "pnorm", "pt", "qnorm", "qt",
             "rnorm", "sd", "weighted.mean")
  importFrom("utils", "read.csv")
  importFrom("robustbase", "lmrob")
  importFrom("ggplot2", "ggplot", "aes", "geom_point", "geom_hline", "geom_vline", "geom_abline", "scale_colour_discrete", "xlab", "ylab", "theme", "element_text", "rel", "element_rect", "element_line", "scale_colour_manual", "scale_linetype_manual")
  importFrom("plotly", "plot_ly", "add_trace", "%>%")
  importFrom("stargazer", "stargazer")
  importFrom("knitr", "knit_params")
  importFrom("rmarkdown", "knitr_options")
  export(extract.pheno.csv)
  export(mr_allmethods)
  export(mr_egger)
  export(mr_ivw)
  export(mr_median)
  export(mr_plot)
